.sidebar-wrapper {
  width: 15rem;
  background-color: #f7fbfc;

  .sidebar {
    .icon-image {
      width: 20px;
      height: 20px;
    }

    a {
      text-decoration: none;
      color: black;
    }
  }
}
.page-content-wrapper {
  .text-30px {
    font-size: 30px;
  }
}

.p-15p {
  padding-left: 15%;
  padding-right: 15%;
}
